<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>

    <p>Hello <%= user %></p>
    <p>Your email is <%= email %></p>

    <a href="/users/profileManage/changeEmail">Change Email</a> </br>
    <a href="/users/profileManage/changeUsername">Change Username</a> </br>
    <a href="/users/profileManage/changePassword">Change Password</a> </br>
    <a href="/users/profileManage/changeType">Change User Type</a> </br></br>
    

    <p>Your favorite place is ...</p>

    <a href="/users/profileManage/deleteUser">DELETE ACCOUNT</a> </br></br>

    <a href="/users/dashboard">Dashboard</a>
  </body>
</html>
