<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Username</title>
  </head>
  <body>
    <h1>Change Username</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>
    <form action="/users/profileManage/changeUsername" method="POST">
      <div>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="New Username"
          required
        />
      </div>
      
      <div>
        <input type="submit" value="Confirm" />
      </div>

    </form>
  </body>
</html>
